<style>
            form1 input[type="text"]{
	height: 20px;
	padding:12px 20px;
	margin: 8px 0;
	display:inline-block;
	border:1px solid #ccc;
	box-sizing:border-box;
	color: white;
	background-color: #D5D6EA;
} 
.form1 input[type="submit"]{
	height: 30px;
	width: 100px;
	background-color: #f3430d;
	color:white;
	padding:0px 0px;
	margin:8px 0;
	cursor:pointer;
	font-size:14px;
	border-radius: 0px;
}
.footer{
	text-align:center;
	height: 600px;
	background-color: #074994;
	color: white;
}
        </style>
