 .socialmedia {
  text-align:center;
}
.log{
position: absolute;	
}
.fa {
  padding: 5px;
  font-size: 100px;
  width: 40px;
  margin: 5px 2px;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
 
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: white;
}

.hea {	
background-color: #043d5e;
width: 100%;
height: 30px;

}
.header{
width: 100%;
height: 100px;
background-color: white;
padding: 5px;
font-family: "Lucida Console", Monaco, monospace;
}
.image1{
width:100px;
height:100px;
border-radius: 50%;
position: absolute;

}

.header a{
float: right;
color:black;
border: 2px solid white;
text-align:center;
text-decoration:none;
padding:5px;
margin: 10px;
font-size: 18px;
line-height: 25px;
border-radius:4px;
background-color: #f7f7f4;
}
.header a:hover{
background-color: #f3e414;
color:black;
}
.header a.active{
background-color: #faf9f8;
color:rgb(252, 248, 248)
}
#donate{
background-color: rgba(221, 27, 102, 0.747);
color: white;
}
*{
        box-sizing: border-box;
    }
    .column{
        float: left;
        width: 11.11%;
        padding:10px;
    }
    .row::after{
        content: "";
        clear:both;
        display: table;
    }
    h1{
        text-align: center;
	color: #24A19C;
	font-family: cursive;
        }
     hr{
         border: 2px solid green;
     }   
     .subhead{
        font-family: Georgia (serif); 
        text-align: center;
        text-shadow: 2px 2px 4px #B1D8B7;
        text-decoration: underline ;
        text-decoration-color: black;
     }
     .topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
 p1{
     color:red;
 }  
 .para{
     font-family:Sans-serif ;
 }  
 .fa{
     padding: 5px;
     font-size: 100px;
     width: 40px;
     margin: 5px 2px;
 }
 .fa:hover{
     opacity: 0.7;
 }
 .fa-facebook{
     
     color:white;
 }
 .fa-twitter {
  
  color: white;
}

.fa-google {

  color: white;
}

.fa-linkedin {
 
  color: white;
}

.fa-youtube {
 
  color: white;
}

.fa-instagram {
 
  color: white;
}

.para3{
    background-color: #FFC75F;
  width: 100%;
  border: none;
  padding: 50px;
  margin: 20px;
}


p2{
 color: red;
}
.para4{
    background-color: #3DB2FF;
  width: 100%;
  border: none;
  padding: 50px;
  margin: 20px;
  font-family: Sans-serif; 
  color: black;
}
form1 input[type="text"]{
  height: 20px;
  padding:12px 20px;
  margin: 8px 0;
  display:inline-block;
  border:1px solid #ccc;
  box-sizing:border-box;
  color: white;
  background-color: #D5D6EA;
  } 
  .form1 input[type="submit"]{
  height: 30px;
  width: 100px;
  background-color: #f3430d;
  color:white;
  padding:0px 0px;
  margin:8px 0;
  cursor:pointer;
  font-size:14px;
  border-radius: 0px;
  }
  .footer{
  text-align:center;
  height: 800px;
  width: 100%;
  background-color: #212224;
  color: white;
  }
  .end-bar {
    padding: 20px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .end-bar:hover {
      opacity: 0.7;
  }
  .form1 input[type="text"]{
	height: 20px;
	padding:12px 20px;
	margin: 8px 0;
	display:inline-block;
	border:1px solid #ccc;
	box-sizing:border-box;
	color: white;
	background-color: #D5D6EA;
} 
.form1 input[type="submit"]{
	height: 30px;
	width: 100px;
	background-color: #f3430d;
	color:white;
	padding:0px 0px;
	margin:8px 0;
	cursor:pointer;
	font-size:14px;
	border-radius: 0px;
}
.footer{
	text-align:center;
	height: 600px;
	background-color: #212224;
	color: white;
}
h2{
    font-family: Monospace;
    font-size: 20px;
}
#myBtn {
  	display: none;
  	position: fixed;
  	bottom: 20px;
  	right: 30px;
  	z-index: 99;
  	font-size: 30px;
  	font-weight: bold;
  	border: none;
  	outline: none;
  	background-color: rgb(247, 9, 9);
  	color: white;
  	cursor: pointer;
  	padding: 15px;
  	border-radius: 4px;
}
#myBtn :hover {
  	background-color: #555;
}
