.socialmedia {
    text-align: center;
}
.log{
	position: absolute;	
}
.fa {
    padding: 5px;
    font-size: 100px;
    width: 40px;
    margin: 5px 2px;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
   
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }
  
  .fa-google {
    color: white;
  }
  
  .fa-linkedin {
    color: white;
  }
  
  .fa-youtube {
    color: white;
  }
  
  .fa-instagram {
    color: white;
  }
.hea {	
	background-color: #043d5e;
	width: 100%;
	height: 40px;

}
.header{
	width: 100%;
	height: 100px;
	background-color: white;
	padding: 5px;
	font-family: "Lucida Console", Monaco, monospace;
}
.image1{
	width:100px;
	height:100px;
	border-radius: 50%;
	position: absolute;

}
	
.header a{
	float: right;
	color:black;
	border: 2px solid white;
	text-align:center;
	text-decoration:none;
	padding:5px;
	margin: 10px;
	font-size: 18px;
	line-height: 25px;
	border-radius:4px;
	background-color: #2d9efc;
}
.header a:hover{
	background-color: #ffc40c;
	color:black;
}
.header a.active{
	background-color: #ffc40c;
	color:rgb(252, 248, 248)
}
#donate{
	background-color: rgba(221, 27, 102, 0.747);
	color: white;
}
h1{
	text-align: center;
	color: #24A19C;
	font-family: cursive;
}
.subnawi{
	background-color: white;
	height:40px;
}

.form1 input[type="submit"]{
	height: 30px;
	width: 100px;
	background-color: #f3430d;
	color:white;
	padding:0px 0px;
	margin:8px 0;
	cursor:pointer;
	font-size:14px;
	border-radius: 0px;
}
.footer{
	text-align:center;
	height: 750px;
	background-color: #212224;
	color: white;
}
.fa {
    padding: 5px;
    font-size: 100px;
    width: 40px;
    margin: 5px 2px;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
   
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }
  
  .fa-google {
    color: white;
  }
  
  .fa-linkedin {
    color: white;
  }
  
  .fa-youtube {
    color: white;
  }
  
  .fa-instagram {
    color: white;
  }

  .imbut{
	background-color: red;
	color: white;


  }
  .log a{
	float: left;
	color:rgb(243, 239, 239);
	border: 1px solid black;
	text-align:center;
	text-decoration:none;
	padding:5px;
	margin: 10px;
	font-size: 18px;
	line-height: 25px;
	border-radius:4px;
	background-color:#3399aa ;
	font-family: "Lucida Console", Monaco, monospace;
  }
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://sps.honeywell.com/content/dam/honeywell-edam/sps/common/en-us/industries/infrastructure/agriculture/images/sps-agriculture-hero.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffbf00;
  }
  h4{
    background-color:rgb(241, 178, 94); 
    padding:10px; 
    margin:20px;
    
  }
  .help-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://miro.medium.com/max/1400/1*gEu6q3FQWJw-in_4P8dfNw.jpeg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .help-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ebdc0e;
  }
  
  .Howmany-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.iisd.org/sites/default/files/styles/banner_mobile/public/2021-07/global-hunger-pledge.jpg?h=790be497&itok=eD_S9hBk");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .whyhungry-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.agrivi.com/wp-content/uploads/2016/08/Blog-Zero-Hunger.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .whyshould-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.classy.org/wp-content/uploads/2021/05/blog-wfpzerohunger-header.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  .end-bar {
    padding: 20px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .end-bar:hover {
      opacity: 0.7;
  }
